.trainingcard {
    padding: 15px;
    border-radius: 20px;
    background-color: #F3F3F3;

    display: flex;
    justify-content: space-between;

    position: relative;
}

.trainingcard .image_info {
    display: flex;
    gap: 20px;

    border-radius: 16px;
}

.trainingcard .imgTraining {
    width: 310px;
    height: 180px;
    object-fit: cover;
    border-radius: 18px;
}

.trainingcard .name_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trainingcard .name {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trainingcard .name h5 {
    font-size: 24px;
    font-weight: 500;
}

.trainingcard .info {
    display: flex;
    gap: 25px;
}

.trainingcard .kkal, .cost {
    padding: 8px 16px;
    border-radius: 100px;
    background-color: #fff;

    display: flex;
    gap: 10px;

    flex-direction: row;
    align-items: center;
}

.trainingcard .favorite_time {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    align-items: end;
}

.trainingcard .favorite_time .favorite {
    width: 40px;
    height: 40px;
    cursor: pointer;

    /* прижимаем сердечко к верху, чтобы время оставалось внизу
       вне зависимости от наличия кнопки */
    margin-bottom: auto;
}



