.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header .buttons {
	display: flex;
	gap: 10px;
	align-items: center;
}

.programs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .programs {
        gap: 16px;
    }
}

@media (max-width: 540px) {
    .programs {
        grid-template-columns: 1fr;
    }
}