.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    display: flex;
    gap: 20;
    align-items: center;
}

.title {
  margin-bottom: 30px;
}

.programs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    .programs {
        gap: 16px;
    }
}

@media (max-width: 540px) {
    .programs {
        grid-template-columns: 1fr;
    }
}