.container {
    max-width: 310px;
    width: 100%;
    height: auto;

    background: #fff;
    padding: 15px;
    border: 1px solid #EAEAFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;
    gap: 16px;

    position: relative;
    
}

.buttonWrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.imgRecipe {
    height: 250px;
    width: auto;
    object-fit: cover;
    border-radius: 18px;
}


.favorite {
    position: absolute;
    top: 31px;
    right: 31px;
}

.linkRecipe {
    text-decoration: none;
}



.info {
    display: flex;
    justify-content: space-between;
}

.kkal, .cost {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 16px;

    background: #F3F3F3;
    border-radius: 100px;
}

.kkal span, .cost span {
    color: #2d2d2d;
    font-size: 14px;  
}

