.item {
	padding: 15px;
	border-radius: 12px;
	background: #f5f7fb;
}

.unread {
	background: #eaf2ff;
}

.item h4 {
	margin-bottom: 5px;
	font-size: 14px;
}

.item p {
	font-size: 13px;
	color: #666;
}

.item span {
	font-size: 12px;
	color: #999;
}