.parameters {
	display: flex;
	flex-direction: column;
	gap: 20px;

	max-width: 420px;
	width: 100%;
}

.parameters .items {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.parameter {
	padding: 20px;
	background-color: #fff;
	border: 1px solid #eaeaff;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

	display: flex;
	justify-content: space-between;
}

.parameter > span {
	font-size: 16px;
	color: #1c2d52;
}

.parameter .value {
	display: flex;
	gap: 4px;
}

.parameter .value span {
	font-size: 18px;
	font-weight: 500;
	color: #1c2d52;
}

.parametersActions {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.parameterGroup {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.groupTitle {
	font-size: 14px;
	font-weight: 600;
	color: #1c2d52;
	margin-bottom: 8px;
}

@media (max-width: 1200px) {
	.parameters {
		max-width: 100%;
	}

	.parameterGroup {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}

	.parameterGroup > :nth-child(1),
	.parameterGroup > :nth-child(2),
	.parameterGroup > :nth-child(3) {
		grid-column: span 2;
	}

	.parameterGroup > :nth-child(4),
	.parameterGroup > :nth-child(5) {
		grid-column: span 3;
	}

	.parametersActions {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.parametersActions button {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.parameterGroup {
		grid-template-columns: repeat(2, 1fr);
	}

	.parameterGroup > :nth-child(1),
	.parameterGroup > :nth-child(2) {
		grid-column: span 1;
	}

	.parameterGroup > :nth-child(3),
	.parameterGroup > :nth-child(4) {
		grid-column: span 1;
	}

	.parameterGroup > :nth-child(5) {
		grid-column: 1 / -1;
	}

    .parametersActions {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 550px) {
	.parameterGroup {
		grid-template-columns: 1fr;
	}

	.parameterGroup > * {
		grid-column: 1 / -1;
	}
}
