.adminpanel {  
	padding: 0 0 100px 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .buttons {
    display: flex;
    gap: 20;
    align-items: center;
}

.title {
  margin-bottom: 30px;
}

.tabbig {
    margin: 40px 0 50px 0;

    display: flex;
    gap: 20px;
}


.reviews {
    display: flex;
    flex-direction: column;
}

.tabs {
	display: flex;
	gap: 12px;
	margin: 20px 0;
}

.tab {
	padding: 10px 18px;
	border-radius: 20px;
	border: 1px solid #D8D8E8;
	background: #F3F3F8;
    color: #969696;
	cursor: pointer;
    font-family: "Manrope", sans-serif;
	font-size: 14px;
}

.activeTab {
	padding: 10px 18px;
	border-radius: 20px;
	border: none;
	background: #5685EB;
	color: white;
	cursor: pointer;
    font-family: "Manrope", sans-serif;
	font-size: 14px;
}

.empty {
	margin-top: 40px;
	color: #969696;
	font-size: 16px;
}