.adminpanel {
	padding: 0 0 100px 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header .buttons {
	display: flex;
	gap: 20;
	align-items: center;
}

.title {
	margin-bottom: 30px;
}

.tabbig {
	margin: 40px 0 50px 0;

	display: flex;
	gap: 20px;
}

.recipes {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.programs {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.trainings {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.tabs {
	display: flex;
	gap: 12px;
	margin: 20px 0;
}

.tab {
	font-family: "Manrope", sans-serif;
	padding: 10px 18px;
	border-radius: 20px;
	border: 1px solid #d8d8e8;
	background: #f3f3f8;
	cursor: pointer;
	font-size: 14px;
	color: #969696;
}

.activeTab {
	font-family: "Manrope", sans-serif;
	padding: 10px 18px;
	border-radius: 20px;
	border: none;
	background: #5685eb;
	color: white;
	cursor: pointer;
	font-size: 14px;
}

.empty {
	margin-top: 40px;
	color: #969696;
	font-size: 16px;
}

.days {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.card {
	width: 150px;
	height: 100px;
	background: #fff;
	border-radius: 16px;
	border: 1px solid #eaeaff;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	cursor: pointer;

	transition: all 0.2s ease;
}

.card:hover {
	border: 2px solid #5685eb;
	transform: translateY(-2px);
}

/* номер дня */
.dayNumber {
	font-size: 16px;
	font-weight: 500;
	color: #2d2d2d;
}

/* крестик */
.deleteBtn {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 22px;
	height: 22px;

	border: none;
	border-radius: 50%;
	background: #f3f3f3;
	color: #888;

	cursor: pointer;
	font-size: 14px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.2s;
}

.deleteBtn:hover {
	background: #5685eb;
	color: #fff;
}

.r_tabs {
	display: flex;
	gap: 12px;
	margin: 20px 0;
}

.r_tab {
	padding: 8px 18px;
	border-radius: 999px;
	border: 1px solid #d0d5dd;
	background: transparent;
	color: #979797;
	cursor: pointer;
	transition: 0.2s;
}

.r_tab:hover {
	background: #f2f4f7;
}

.r_active {
	background: #5685eb;
	color: white;
	border: none;
}

.r_active:hover {
	background: #5685eb;
	color: white;
	border: none;
}

.notifyBtn {
	background: #5685EB;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	border-radius: 100px;
}

.qwik_actions{
	display: flex;
	gap: 20px;
	align-items: center;
}
.notifyBtn:hover {
	background: #5685eb;
}

.tabs {
	display: flex;
	gap: 12px;
	margin: 20px 0;
}

.tab {
	padding: 8px 18px;
	border-radius: 999px;
	border: 1px solid #d0d5dd;
	background: transparent;
	color: #979797;
	cursor: pointer;
	transition: 0.2s;
}

.tab:hover {
	background: #f2f4f7;
}

.active {
	background: #5685EB;
	color: white;
	border: none;
}

.active:hover {
    background: #5685EB;
	color: white;
	border: none;
}
