.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.header .buttons {
	display: flex;
	gap: 10px;
	align-items: center;
}

.recipes {
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
}

.tabs {
	display: flex;
	gap: 12px;
	margin: 20px 0;
}

.tab {
	padding: 8px 18px;
	border-radius: 999px;
	border: 1px solid #d0d5dd;
	background: transparent;
	color: #979797;
	cursor: pointer;
	transition: 0.2s;
}

.tab:hover {
	background: #f2f4f7;
}

.active {
	background: #5685EB;
	color: white;
	border: none;
}

.active:hover {
    background: #5685EB;
	color: white;
	border: none;
}