.litlebutton {
    padding: 14px 28px;
	border-radius: 25px;
	border: none;
	background: #5b7cff;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s;
}

.litlebutton:hover {
    background: #4a69e0;
}

.outline {
	background: transparent;
	border: 1px solid #d0d5dd;
	color: #999999;
}

.outline:hover {
    background: transparent;
	background: #f9fafb;
}

