.modal {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.35);

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 1000;
}

.modal_content {
	width: 720px;
	max-width: 90%;

	display: flex;
	flex-direction: column;
	gap: 20px;

	background: #ffffff;
	border-radius: 20px;
	padding: 40px;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
	position: relative;
}

.item_container {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.form_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.form_grid input,
.form_grid select {
	width: 100%;

	padding: 14px 16px;
	margin-top: 8px;

	border-radius: 10px;

	border: 1px solid #d9d9e3;

	font-size: 14px;

	outline: none;

	transition: 0.2s;
}

.form_grid input:focus,
.form_grid select:focus {
	border-color: #5b7cff;
}

.modal_close {
	position: absolute;

	top: 20px;
	right: 20px;

	cursor: pointer;

	font-size: 22px;

	color: #999;
}

.modal_content .buttons {
	display: flex;
	gap: 15px;
}

/* ======================
   STARS
====================== */

.stars {
	display: flex;
	gap: 8px;
}

.star {
	width: 30px;
	cursor: pointer;
	filter: grayscale(1);
	transition: 0.2s;
}

.starActive {
	filter: none;
}

/* ======================
   TEXTAREA
====================== */

.textarea {
	width: 100%;
	min-height: 120px;
	border-radius: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	outline: none;
	resize: none;
}

/* ======================
   COUNTER
====================== */

.counter {
	text-align: right;
	font-size: 12px;
	color: #999;
}

.counterWarning {
	color: red;
}

.field label {
	margin-bottom: 8px;
}
