.commentcard {
	padding: 30px;
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #eee;

	width: 100%;
	min-height: 520px;

	display: flex;
	flex-direction: column;
	gap: 18px;
}

.commentheader {
	display: flex;
	justify-content: space-between;
}

.info {
	display: flex;
	gap: 16px;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.description .name {
	font-weight: 600;
}

.stars {
	display: flex;
	gap: 8px;
}

.stars img {
	width: 20px;
	height: 20px;
}

.photo {
	border-radius: 100%;
	width: 42px;
	height: 42px;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

.photo img {
	width: 42px;
	height: auto;
	object-fit: cover;
	object-position: center;
}

.commentcard .programname {
	font-size: 16px;
	color: #969696;
	margin-top: auto;
}

.text {
	word-break: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

@media (max-width: 768px) {
	.commentcard {
		padding: 20px;
		min-height: auto;
	}
}
